@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fondo: #0c0a15;
  --white: #ffffff;
  --violet: #9d59ef;
  --violetDark: #0f071e;
  --grey: #b8b7bd;
  --indigo: #7f69dd;
  --indigoLight: #a494d1;
}

body {
  @apply bg-background text-foreground; /* TailwindCSS estilos para background y texto */
}

p {
  color: var(--grey);
}

h2 {
  color: var(--violet);
}
